<?xml version="1.0"?>
<robot
  xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="laser">
    <visual>
      <geometry>
        <mesh filename="package://kurt_description/meshes/sick_lms-200.stl" />
      </geometry>
      <material name="blue" >
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://kurt_description/meshes/sick_lms-200.stl" />
        <!-- <box size=".156 .155 .185" />-->
      </geometry>
    </collision>
  </link>

  <gazebo reference="laser">
    <material value="Gazebo/Blue" />
  </gazebo>
</robot>
