<?xml version="1.0"?>
<robot
  xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="laser">
    <visual>
      <geometry>
        <mesh filename="package://kurt_description/meshes/sick_lms-200.stl" />
      </geometry>
      <material name="blue" >
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://kurt_description/meshes/sick_lms-200.stl" />
        <!-- <box size=".156 .155 .185" />-->
      </geometry>
    </collision>
    <inertial>
      <mass value="2.0" />
      <origin xyz="-0.022849644 0.000005772 0.040232937" />
      <inertia ixx="0.009318238" ixy="-0.000000024" ixz="-0.000148360" 
        iyy="0.009251799" iyz="0.000000400" 
        izz="0.007478235" />
    </inertial>
  </link>

  <gazebo reference="laser">
    <material value="Gazebo/Blue" />
  </gazebo>
</robot>
