<?xml version="1.0"?>
<launch>
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="autorepeat_rate" value="10" />
    <param name="dev" value="/dev/input/js1" />
  </node>

  <node pkg="uos_diffdrive_teleop" type="uos_diffdrive_teleop_joy" name="uos_diffdrive_teleop_joy" output="screen" />
</launch>
