<?xml version="1.0"?>
<launch>
  <node pkg="uos_diffdrive_teleop" type="uos_diffdrive_teleop_key" name="uos_diffdrive_teleop_key" output="screen">
		<param name="max_vel" value="1.0"/>
		<param name="max_rot_vel" value="2.0"/>
		
    <param name="use_button_pressure" value="false"/>
    
    <!-- m/s² -->
    <param name="acc_ahead_pos" value="0.2"/>
		<param name="acc_ahead_neg" value="2.4"/>
    <param name="acc_ahead_stop" value="4.0"/>

    <!-- rad/s² -->
		<param name="acc_rot_pos" value="0.6"/>
		<param name="acc_rot_neg" value="2.8"/>
		<param name="acc_rot_stop" value="4.6"/>
  </node>
</launch>
